* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  margin: 0;
  height: 100vh;
}

.heading a {
  text-decoration: none;
}

body {
  background-color: #b29999;
  background-image: linear-gradient(rgba(25, 14, 14, 0.9), rgba(0, 0, 0, 0.1)),
    url("./images/leone-venter\ unsplash.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto, 100%, 100%;

  /* background-size: cover; */
}

/* error message styles */

main > p > span :hover {
  color: rgb(15, 28, 208);
  text-decoration: none;
}

main > p > span > a {
  text-decoration: none;
}

/* navigation styles */
nav > a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

nav a:selected { 
  background-color: red;
}

nav a:hover {
  text-decoration: underline;
  /* color: #55acee; */
  color: #f7bbbb;
}

/* email */

svg:hover {
  color: #f7bbbb;
  /* color: #e3cece; */
  text-decoration: underline;
}

/* Skills-Icons */

.SkillsIcons> i {
  font-size: 50px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.946);
  /* box-shadow: rgb(54, 71, 89) 0px 20px 30px -10px; */
}


/* footer styles */

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-bottom: 20px; */
  position: relative;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
}

.social {
  padding: 10px;
}

.social h5 {
  color: black;
}

.fa {
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  width: 50px;
  text-decoration: none;
  margin: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: rgb(43, 42, 42);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* google fonts import */
@import url("https://fonts.googleapis.com/css?family=Cairo");
html,
body {
  font-family: "Cairo", sans-serif;
  /* font-size: 48px; */
}
